@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: #101720;
    color: #e8e8e8; /* Setting text color for the whole body */
  }

  main {
    max-width: 100%;
  }

  button {
    background-color: blue;
    color: white;
    margin-left: 20%;
    position: relative;
    left: 95px;
  }

  section {
    max-width: 100%;
    margin: 8rem auto;
    padding: 0 1.5rem;
  }

  .bg-span {
    align-items: center;
    gap: 5px;
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-items: center;
    width: 100px;
    height: 30px;
  }

  .div-width {
    width: 30%;
    padding: 6px;
  }

  .sec-btn {
    background-color: #212e40;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    color: #e8e8e8;
  }

  .buy-btn {
    background-color: #34d399;
    color: #e8e8e8;
  }

  .p-styles {
    gap: 40;
    background-color: #161f2c;
    padding: 2rem;
  }

  .wallets {
    gap: 40;
   align-items: center;
    margin: 4rem 0;
    justify-content: left;
  }

  .shank3 {
    display: flex;
  align-items: center;
    gap: 14;
    width: 300px;
  }

  .buy-btn2 {
    background-color: #34d399;
    color: #e8e8e8;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    width: 100px;
  }

  .button2 {
    background-color: #0d6efd;
    color: #e8e8e8;
    padding: 0.25rem 0.25rem;
  }

  .bg-col {
    background-color: #161f2c;
  }
}